<body onload="load();" onkeypress="processKeyPress(event);">
<script type="text/javascript" src="/public/gametest"></script>
<script type="text/javascript" src="/public/sprite"></script>
<script type="text/javascript" src="/public/gameengine"></script>
<script type="text/javascript" src="/gametest"></script>
<div >
  <canvas id="canvas" width="500" height="500" onclick="processClick(event);"  style="border: solid 1px black;"></canvas>
</div>
<button onclick="start();" >Start/Stop timed event</button>


<button onclick="imageTest();">Do some image testing</button>
<br />



<div id="preloadedimages" ><canvas id="preloadcanvas" width =" 400" height="400" style="border: black solid 1px;"></canvas></div>
</body>
